h1{
  color:blueviolet;
}

h2{
  color:blueviolet;
}

h3{
  color:blueviolet;
}

h4{
  color:purple;
}

h5{
  color:blueviolet;
}

h6{
  color:blue;
}

p{
  color:purple;
}

footer{
  color:blueviolet;
}

li{
  color:blueviolet;
}

